/* Global Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Basic styling */
body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  background-color: #000000;
  /* #fdfdfd; */
  color: #dbdbdb;
  /* #333 */
  /* max-width: 900px; */
  max-width: 1000px;
  margin: auto;
  padding: 20px;
}

header {
  text-align: center;
  margin-bottom: 20px;
  color: white;
}
.navbar {
  display: flex;
  background-color: #383838;
  border-radius: 6px;
  gap: 50px;
  align-items: center;
  /* width: 100%; */
  padding: 0 20px;
  justify-content: space-between;
  font-size: 16px;
  color: black;
  /* font-weight: 500; */
  margin: 0 40px;
  border-bottom: 3px solid transparent;
  /* z-index: 100; */
  transition: 0.3s ease;
}

.navbar a {
  background-color: #bfe9f5;
  padding: 6px 40px;
  border-radius: 6px;
  font-size: 16px;
  color: #000;
  text-decoration: none; /* Remove underline */
  transition: all 0.3s ease;
}

.navbar a:hover,
.navbar a.active {
  color: blue;
  border-bottom: 3px solid blue;
  font-size: 18px;
}

.profile-pic {
  width: 140px;
  height: 140px;
  border-radius: 50%;
  object-fit: cover;
  margin-bottom: 9px;
}

h1 {
  font-size: 2rem;
  margin-bottom: 8px;
}

h2 {
  font-size: 1.5rem;
  margin: 20px 0 10px 0;
}

.classeslist ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.classeslist li {
  background-color: #bfe9f5;
    /* #efefef; */
  padding: 6px 10px;
  border-radius: 6px;
  font-size: 11px;
  color: #000;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.skills li {
  background-color: #bfe9f5;
    /* #efefef; */
  padding: 6px 12px;
  border-radius: 8px;
  font-size: 14px;
  color: black;
}

.projects {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 5px;
}

.schools {
  margin: 0 auto;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 20px;
  padding: 15px;
  color: white;
  /*background: #000000;*/
  /*background-color: black; */
}

.school-card {
  border: 1px solid #dbdbdb;
    /* #ddd; */
  padding: 25px;
  border-radius: 12px;
  background-color: #383838;
  transition: box-shadow 0.2s;
  color: white;
}

.school-card:hover {
  box-shadow: 0px 3px 8px #bfe9f5;
    /* rgba(0,0,0,0.1); */
}

.project-card {
  border: 1px solid #ddd;
  padding: 15px;
  border-radius: 12px;
  background: #fff;
  transition: box-shadow 0.2s;
  color: #000;
}

.project-card:hover {
  box-shadow: 0px 3px 8px #bfe9f5;
    /* rgba(0,0,0,0.1); */
}

.project-card img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.project-card h3 {
  margin-bottom: 8px;
}

.project-card a {
  color: #0066cc;
  text-decoration: none;
}

footer {
  text-align: center;
  margin-top: 40px;
  font-size: 0.9rem;
}
footer a {
  color: #0066cc;
  text-decoration: none;
}

@media (min-width: 600px) {
  .projects {
    grid-template-columns: repeat(2, 1fr);
  }
}

